.welcome-page {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .features {
    margin-top: 20px;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .features li {
    margin-bottom: 10px;
  }
  
  .getting-started {
    margin-top: 20px;
  }
  
  .stock-market-container {
    display: flex;
    flex-direction: row;
  }
  
  .company-overview-container {
    width: 50%;
    
    
    
  }

  .company-overview-card {
    background-color: #5f5937; /* gold background */
    border-radius: 10px; /* rounded edges */
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* subtle shadow */
  }
  
  .stock-chart-container {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    
  }

  @media only screen and (max-width: 1200px) {
    .stock-market-container {
      flex-direction: column;
    }
    .company-overview-container {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      margin-top: -10%;
    }
    .stock-chart-container {
      width: 100%;
      padding: 20px;
    }
  }

  @media only screen and (max-width: 700px) {
    .stock-market-container {
      flex-direction: column;
    }
    .company-overview-container {
      width: 95%;
      padding: 20px;
      margin-bottom: 20px;
      margin-top: -15%;
    }
    .stock-chart-container {
      width: 80%;
      padding: 20px;
    }
    
  }
  /* Added a comment to indicate the end of the CSS code */